html, body {
    margin: 0;
    padding: 0;
    font-family: courier;
}

.content {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    margin-top: 100px;
}

.content .input input {
    width: 90%;
    border: 0;
}

.content .input input:focus {
    outline: none 0;
}